<div class="body">
  <mat-card class="example-card">
    <h1>Iniciar Sesión</h1>

    <mat-card-header>
      
      <div mat-card-avatar class="example-header-image"></div>
      
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <input type="text" matInput [formControl]="userFormControl" placeholder="Ingrese su usuario">
          <mat-error *ngIf="userFormControl?.invalid && (userFormControl?.dirty || userFormControl?.touched)">
            <span *ngIf="userFormControl?.hasError('required')">Usuario es requerido</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput [formControl]="passwordFormControl" placeholder="Ingrese su contraseña">
          <mat-error *ngIf="passwordFormControl?.invalid && (passwordFormControl?.dirty || passwordFormControl?.touched)">
            <span *ngIf="passwordFormControl?.hasError('required')">Contraseña es requerida</span>
          </mat-error>
        </mat-form-field>
      </form>
      <button class="btn waves-effect waves-light btn-amarillo" (click)="verificarInicio()">Iniciar Sesión</button>

    </mat-card-content>
  </mat-card>
  <div class="right-content">
    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2014/03/288149-origen-todos-nombres-pokemon-i.png?tf=3840x" >
  </div>
  <div class="left-content">
    <img src="https://www.teleadhesivo.com/es/img/pokgo05-png/folder/products-detalle-png/vinilos-infantiles-pikachu.png" >
  </div>
  
</div>
