<app-header></app-header>
<div class="header-button-container">
  <button class="button-agregar" mat-raised-button color="primary" (click)="toggleFormulario()">Agregar</button>
</div>
<div class="table-container">
<table class="custom-table">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let variable of valores">
    <td>{{ variable.name }}</td>
    <td>{{ variable.url }}</td>
    <td>
      <button class="btn waves-effect waves-light red" (click)="deleteRow(variable)">
        <i class="material-icons">delete</i>
      </button>
  </tr>
</table>
</div>
<div class="left-content">
  <img src="https://images.wikidexcdn.net/mwuploads/wikidex/thumb/0/02/latest/20221113131941/Ash_%28Viajes_Pok%C3%A9mon%29_2.png/250px-Ash_%28Viajes_Pok%C3%A9mon%29_2.png" >
</div>

<div class="formulario-container" *ngIf="mostrarFormulario" style="text-align: center;">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <label for="name">NAME</label>
    <input id="name" type="text" formControlName="name">
    <label for="url">URL</label>
    <input id="url" type="text" formControlName="url">
    <tr></tr>
    <button mat-raised-button color="primary" type="submit">Guardar</button>

  </form>
</div>
<app-footer></app-footer>


